# Ignore folder containing compiler codes
.ipynb_checkpoints/*
.ipynb_checkpoints
.ipynb_checkpoints/NewYork_City_Taxi_Trip_Duration-checkpoint.ipynb

# Ignore all text files
#updated on 24-April-2022
*.txt
